@import url('https://fonts.googleapis.com/css?family=Monoton|Lora|Montserrat:600&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --primaryColor: #f4f4fd;
  --secondaryColor: #1b1b1b;
  --bgImage: radial-gradient(var(--primaryColor) 1px, transparent 4px),
    radial-gradient(#006eff 4px, transparent 4px),
    linear-gradient(var(--primaryColor) 5px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      #a4a4a4 75px,
      #a4a4a4 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      #a4a4a4 76px,
      #a4a4a4 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--primaryColor);
  --bgSize: 109px 109px, 109px 109px, 109% 109px, 109px 109px, 109px 109px;
}
body {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  background: var(--secondaryColor);
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
ul,
span,
li,
img {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
span {
  line-height: 1.6;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 3.5em;
  letter-spacing: 5px;
}
h2 {
  font-size: 2.8em;
  line-height: 1.1;
}
h3 {
  font-size: 1.7em;
}
h4 {
  font-size: 1.2em;
  letter-spacing: 0.6px;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
a {
  font-size: 15px;
}
i {
  font-size: 25px;
}
/* .app {
  margin: auto;
} */

.app {
  width: 70%;
  border: 2px solid var(--primaryColor);
  background: var(--primaryColor);
}
.block {
  display: flex;
  /* justify-content: ; */
  flex-wrap: wrap;
  margin: 10px 0px;
}
.head .flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 350px; */
  /* margin: 10px 100px 10px 0px; */
}
.head {
  background: var(--bgImage);
  background-size: var(--bgSize);
  padding: 40px 40px 10px 40px;
}
.head .name {
  display: flex;
  align-items: center;
}
.head .name .anime {
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head span {
  background: var(--primaryColor);
  font-size: 15px;
  font-weight: 400;
  line-height: 2.2;
}
.bottom {
  padding: 20px;
  width: 85%;
  color: var(--primaryColor);
  margin: auto;
  /* margin-top: -120px; */
}
.bottom h5 {
  color: var(--secondaryColor);
  background: var(--primaryColor);
  display: inline-block;
}
.bottom .block {
  justify-content: space-between;
  background-color: var(--secondaryColor);
  /* border: 1px solid #a4a4a4; */
  padding: 0 10px;
}
.bottom .block .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom .block .strong span {
  font-weight: 500;
  margin: 5px 0;
}
.app img {
  width: 30px;
  background: var(--secondaryColor);
  border-radius: 50%;
}
